* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*General styling-------------------------------------------------*/

body {
    font-family: "Lato", Arial, Helvetica, sans-serif;
    color: #555;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

h1, h2 {
    font-weight: 300;
}

/*header styling----------------------------------------------------*/

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(images/hero.jpg);
    background-size: cover;
    height: 100vh;
    background-attachment: fixed;

    text-transform: uppercase;

}

header h1 {
    color:white;
    font-size: 240%;
    word-spacing: 4;
}

.row {
    max-width: 1140px;
    margin: 0 auto;
}

.hero-text-box {
    max-width: 1140px;
    position:absolute;
    top:40%;
    padding: 20px;
}

.logo {
    height: 100px;
    width: auto;
}

/*nav style*/
.nav-bar .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
}

.nav-bar ul {
    display: flex;
    justify-content: flex-end;

}

.nav-bar ul li {
    list-style-type: none;
    padding: 10px;
}

.nav-bar a {
    text-decoration: none;
    color:white;
    font-weight: 100;
    font-size: 1rem;

    padding: 10px;

    border-bottom: 2px solid rgba(0, 0, 0, 0);
    transition: all 0.2s;
}

.nav-bar a:hover {
    border-bottom: 2px solid rgba(165, 107, 0, 0.9);
}

/*button style*/

.btn {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    color: #fff;
    text-transform:none;
}

.btn:hover, .btn:active {
    background-color: #cf6d17;
}

.btn-full {
    background-color: #e67e22;
    border: 1px solid #e67e22;
    color: #fff;
}

.btn-ghost {
    border: 1px solid;
    color: #e67e22;
    transition: color 0.2s;
}

.btn-full:hover, .btn-full:active {
    border: 1px solid #cf6d17;
}

.btn-ghost:hover, .btn-ghost:active {
    border: 1px solid #cf6d17;
    color: #fff;
}



/*features section styling----------------------------------*/
#foodDelivery #top {
    text-align: center;
    padding: 4rem 2rem 0 2rem;
    max-width: 800px;
    margin: auto;
}

h2 {
    font-size: 2.5rem;
    text-transform: uppercase;
}

h2:after {
    display: block;
    height: 2px;
    width: 100px;
    background-color: #e67e22;
    content: " ";
    margin:30px auto;
}

div#features {
    display: flex;
    justify-content: center;
    margin-bottom: 5rem;
}

#features div {
    padding: 1rem;
}

#features div.icon {
    padding: 0;
}

.icon-big {
    font-size: 350%;
    display: block;
    color:#e67e22;
    margin-top: 3rem;
    margin-bottom: 10px;
    --ionicon-stroke-width: 20px;
}

#features h3 {
    font-weight: 300;
    text-transform: uppercase;
    margin: 0 0 1rem 0;
}

#features p {
    font-size:  1.1rem;
    line-height: 1.4;
}

/*images gallery styling----------------------------*/
.meal-photo {
    width: 100%;
    margin: 0;
    overflow: hidden;
    background-color: #000;
    display: flex;
    flex-wrap: wrap;
}

.meal-photo div {
    width: 25%;
    overflow: hidden;
}

.meal-photo img {
    opacity: 0.7;
    width: 100%;
    height: auto;
    transform: scale(1.15);

    transition: all 0.5s;
    display: block;
}

.meal-photo img:hover {
    opacity: 1;
    transform: scale(1.00);
}


/*how it works section styling----------------------------*/
#phoneImage {
    width: 40%;
    height:auto;

    margin: 2rem;
}

.howToStep {
    display: flex;
    padding: 1rem;
}

.howToStep div {
    padding: 5px;
    color:#e67e22;
    border: 2px solid #e67e22;
    display: inline-block;
    border-radius: 50%;

    height: 55px;
    width: 55px;
    text-align: center;
    
    font-size: 150%;
    margin-right: 25px;
}

.btn-app:link,
.btn-app:visited {
    border: 0;
}

.btn-app img {
    height: 50px;
    width: auto;
    margin-right: 10px;
}


/*current cities styling---------------------------*/
#cityTiles {
    display:flex;
}

#cityTiles div {
    width: 25%;
    padding: 1rem;
    
    font-weight: 300;
}

#cityTiles div img {
    width: 100%;
    height: auto;
}

#cityTiles div h3 {
    font-size: 2rem;
    text-transform: uppercase;
}

#cityTiles div.cityTileFact {
    display: flex;
}

#cityTiles div.icon {
    display: inline-block;
    width: 30px;
    text-align: center;
    color:#e67e22;
    font-size: 120%;
    margin-right: 10px;
    line-height: 120%;
    vertical-align: middle;
}